<div class="card" id="whats-new">
    <h3 class="card-header">What's New!!</h3>
    <div class="card-block">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
            <h5>Angular 4.0.0 Now Available</h5>
            <p>ขณะนี้ได้ update เป็น Angular version 4.0.0 แล้ว สามารถอ่านรายละเอียดเพิ่มเติมได้ที่ <a href="http://angularjs.blogspot.com/2017/03/angular-400-now-available.html" target="_blank"><strong><em>AngularJS</em></strong></a></p>
            </div>
        </div>
        <div class="row" style="margin-top: 1rem;">
            <div class="col-sm-12 col-md-12 col-lg-12">
            <h5>Component Pack</h5>
            <p>สามารถใช้งาน component ทั้งหมดได้ โดยเรียกใช้ไฟล์ gomodule.umd.js และ libmodule.umd.js ดูตัวอย่างการใช้งานได้ที่ <go-button label="Getting Start" buttonColor="danger" [routerLink]="['gettingstart']" buttonSize="sm"></go-button> ที่เมนู Existing Angular Project</p><br><br><br><br><br><br><br>
            </div>
        </div>
    </div>
</div>