<div class="card">
    <h3 class="card-header">Register for news</h3>
    <div class="card-block">
        <small style="color: red;">* Please Fill all in English</small>
        <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm.value)">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <go-textbox placeholder="UL code (max length is 5 digit)" type="number" [(ngModel)]="user.ulCode" 
                    name="ulcode"  goId="ulcode_id" required maxlength="5"></go-textbox>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <go-textbox placeholder="Service name" type="text" [(ngModel)]="user.serviceName" name="servicename"  goId="servicename_id" required ></go-textbox>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <go-textbox placeholder="Project name" type="text" [(ngModel)]="user.projectName" name="projectname"  goId="projectname_id" required ></go-textbox>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <go-textbox placeholder="First name" type="text" [(ngModel)]="user.firstName" name="firstname"  goId="firstname_id" required ></go-textbox>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <go-textbox placeholder="Last name" type="text" [(ngModel)]="user.lastName" name="lastname"  goId="lastname_id" required ></go-textbox>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <go-textbox placeholder="E-mail e.g. example@gosoft.co.th" type="email" 
                    [(ngModel)]="user.email" name="email_1" required #email_1="ngModel" goId="email_1"
                    [(isValid)]="isValidEmail" ></go-textbox>
                </div>
            </div>
            <p-dialog [header]="title" [visible]="dialogDisplay"
                    [modal]="true" [width]="300" [height]="200" 
                    [closable]="false" [responsive]="true"
                    [draggable]="false" [showHeader]="true">
                                    
                <div class="dialog" style="text-align: center;">
                    <a style="color: #990000;">{{dialogMessage}}</a>
                </div>
                <p-footer>
                    <div style="text-align: center;">
                        <go-button *ngIf="showConfirmButton" label="Yes" iconName="check" buttonColor="primary" (click)="register()" ></go-button>
                        <go-button [label]="cancelButtonLabel" iconName="close" buttonColor="danger" (click)="dialogDisplay=false" ></go-button>
                    </div>	
                </p-footer>
            </p-dialog>

            <!-- <p-dialog [header]="errorTitle" [visible]="confirmDialogDisplay"
                    [modal] = "isModal" [width] = "width" [height] = "height" 
                    [closable] = "false" [responsive] = "isResponsive"
                    [draggable] = "false" [showHeader] = "true">
                                    
                <div class="dialog" style="text-align: center;">
                    <a style="color: #990000;">Please fill the correct data.</a>
                </div>
                <p-footer>
                    <div style="text-align: center;">
                        <go-button label="close" iconName="close" buttonColor="danger" (click)="errorDialogDisplay=false" ></go-button>
                    </div>	
                </p-footer>
            </p-dialog> -->
            <div style="text-align: center;">
                <button type="button" class="btn btn-danger" (click)="showConfirmDialog()" [disabled]="!registerForm.form.valid || !isValidEmail"><i class="fa fa-check"></i> Register</button>
                <go-button label="Clear" buttonColor="danger" iconName="times" (click)="clearText()"></go-button><br>
            </div>
        </form>
    </div>
</div>